node_modules/*
package-lock.json
public_html/uploads/*
public_html/style/imported/*
public_html/tabulator/*
config.js
temp_audio/*
out/
users.js
vosk-model-small-ru-0.22/*
vosk-model*
out.txt
errors.txt
temp/*
assembledChunks/*
chunks/*