.previewImage{
    height: 7vh;
}

/* .tags {
    padding: 0 10px;
    line-height: 25px;
    margin: 8px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
}
.tags:hover {
    background: rgba(0, 0, 0, 0.2);
} */
.tags {
    display: inline-block;
}
.tags::after{
    content: ";";
}


#fileTable{
    /* max-width: 50vw; */
}
#viewer{
    /* width: 50vw; */
}