/*
   table.css
*/

.table {
    display: table;
    overflow: scroll;
}

.table .row {
    padding: 2px;
    display: table-row;
    height: 100px;
}

.table .cell {
    display: table-cell;
    padding: 4px;
    min-width: 10px;
}

.cell .view {

    min-width: 10px;
    min-height: 10px;
}

.cell .view:hover {
    border: 1px solid green;
}

.hiddenView {
    display: none !important;
}

.row:hover {
    background: rgba(0, 0, 0, 0.05);
}

.cell input {
    padding: 4px;
    width: 100px;
}

.changed {
    background-color: rgba(255, 255, 0, 0.2);
}

.error {
    background-color: rgba(255, 0, 0, 0.3);
}

img.preview {
    height: 64px;
}