/*
   table.css
*/

.table{
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  align-content: space-around;
  overflow: scroll;  
}
.table .row{
   padding: 2px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
   align-content: stretch;
    height: 100px;
}
.table .cell{
   padding: 4px;
   min-width: 100px;
}
.cell .view{
    
    min-width:10px;
     height: 100px;
}

.cell .view:hover{
    border: 1px solid green;
}

.hiddenView{
   display: none !important;
}

.row:hover {
   background:rgba(0,0,0, 0.05);
}
.cell input{
   padding:4px;
width: 100px;
}
.changed{
   background-color:rgba(255,255,0, 0.2);
}
.error{
   background-color:rgba(255,0,0, 0.3);
}
img.preview{
    height: 64px;
}